In [3]:
# 向量 
x <- 1:10;
print(x)

 [1]  1  2  3  4  5  6  7  8  9 10

In [4]:
x <- c(1,2,3,4,5);
print(x)

[1] 1 2 3 4 5

In [5]:
x <- seq(from=1,to=10);
print(x)

 [1]  1  2  3  4  5  6  7  8  9 10

In [6]:
x <- seq(from=1,to=10,by=2);
print(x)

[1] 1 3 5 7 9

In [8]:
x <- seq(from=1,to=10,length.out=20);
print(x)

 [1]  1.000000  1.473684  1.947368  2.421053  2.894737  3.368421  3.842105
 [8]  4.315789  4.789474  5.263158  5.736842  6.210526  6.684211  7.157895
[15]  7.631579  8.105263  8.578947  9.052632  9.526316 10.000000

In [11]:
# 生成日期变量并用生成的日期变量生成一组日期序列数据： 
s <- as.Date('2014-1-1') 
e <- as.Date('2014-2-1') 
dtVec <- seq(from=s,to=e,by=1) 
print(dtVec) 
print(class(dtVec))

 [1] "2014-01-01" "2014-01-02" "2014-01-03" "2014-01-04" "2014-01-05"
 [6] "2014-01-06" "2014-01-07" "2014-01-08" "2014-01-09" "2014-01-10"
[11] "2014-01-11" "2014-01-12" "2014-01-13" "2014-01-14" "2014-01-15"
[16] "2014-01-16" "2014-01-17" "2014-01-18" "2014-01-19" "2014-01-20"
[21] "2014-01-21" "2014-01-22" "2014-01-23" "2014-01-24" "2014-01-25"
[26] "2014-01-26" "2014-01-27" "2014-01-28" "2014-01-29" "2014-01-30"
[31] "2014-01-31" "2014-02-01"
[1] "Date"

In [4]:
x = gl(2,5) #gl是一个函数
x

 [1] 1 1 1 1 1 2 2 2 2 2
Levels: 1 2

In [5]:
class(x)

[1] "factor"

In [6]:
mode(x)

[1] "numeric"

In [7]:
typeof(x)

[1] "integer"

%>% 是管道符号
举例:   
f1() %>% f2()      
相当于把f1()的输出作为f2()的输入

In [11]:
# 生成一组重复数据。使用常数初始化指定长度的向量： 
x <- rep(1,10);
print(x) 
x <- rep('USD',5);
print(x)

 [1] 1 1 1 1 1 1 1 1 1 1
[1] "USD" "USD" "USD" "USD" "USD"

In [12]:
# sample()取样函数从一组数据中随机取出指定数量的数据 
# replace参数决定是否可以重复取数 
y <- sample(x=1:100,size=10,replace=F);
print(y) 
y <- sample(x=c(0,1),size=20,replace=T);
print(y)

 [1] 38  7 23  6 70 39 83 79 30 27
 [1] 1 0 1 0 0 1 1 1 1 1 1 0 0 1 1 1 0 1 1 0

In [13]:
#使用正态分布随机数生成函数生成指定数量、平均值、标准差的随机数： 
x <- rnorm(n=10,mean=100,sd=20);
print(x)

 [1]  84.41965 118.67698 110.43425  87.16716 100.54518 122.29677  81.63525
 [8]  86.40491 107.38992  84.93556

In [14]:
# 数组 
# 生成向量然后通过设置行列数据转换成二维数组 
x <- 1:20 
dim(x) <- c(5,4) 
print(x)

     [,1] [,2] [,3] [,4]
[1,]    1    6   11   16
[2,]    2    7   12   17
[3,]    3    8   13   18
[4,]    4    9   14   19
[5,]    5   10   15   20

In [15]:
x <- array(3.14,dim=c(5,4)) 
print(x)

     [,1] [,2] [,3] [,4]
[1,] 3.14 3.14 3.14 3.14
[2,] 3.14 3.14 3.14 3.14
[3,] 3.14 3.14 3.14 3.14
[4,] 3.14 3.14 3.14 3.14
[5,] 3.14 3.14 3.14 3.14

In [16]:
# 可以生成三维数组 
# 使用正态分布随机数初始化整个数组 
#  rnorm(n=40,mean=10,sd=5)
x <- array(rnorm(40,10,5),dim=c(5,4,2)) 
print(x) 
print(length(x)) 
# 对于矩阵length()函数得到的是所有元素的总数量

, , 1

          [,1]      [,2]      [,3]      [,4]
[1,] 11.739859 14.671944 16.043055  4.474288
[2,]  8.392017 13.108677  6.285443  8.783863
[3,] 12.678970 10.834419 14.227438 16.491985
[4,] 18.182335 12.881927 22.191449  5.994543
[5,]  8.866629  5.770009 16.437035 17.510703

, , 2

          [,1]      [,2]      [,3]      [,4]
[1,] 0.3057222  6.711887  7.229127  9.155751
[2,] 8.9476973 16.028550 18.465106 12.385906
[3,] 4.1443411 13.125212 18.698592 11.844463
[4,] 7.6627066 11.949013  8.229086 11.646247
[5,] 1.1682728  4.520407  9.066174  3.367711

[1] 40

数据框的形式和Excel比较相似    
每一列可以看做是一个向量，类型相同；不同列数据之间可以有不同类型    
同列表的重要区别是：数据框要求每一列数据长度相同    
数据框的每一行可以看作是一条记录，每一列看做是记录的某一个属性    
数据框是金融大数据处理中非常重要的数据结构，用途很广必须深入了解

In [19]:
df <- data.frame(symbols=c('MSFT','KO','CSCO'),price=c(40.40,40.56,23.02),currency=rep('USD',3),country=rep('USA',3),type=rep('STOCK',3)) 
df

  symbols price currency country type
1 MSFT    40.40 USD      USA     STOCK
2 KO      40.56 USD      USA     STOCK
3 CSCO    23.02 USD      USA     STOCK

In [21]:
print(class(df)) 
cat('df数据框行数为：',nrow(df),'\ndf数据框列数为：',ncol(df),'\n',sep=' ') 
cat('列数（属性）数量：',length(df),'\n',sep=' ')

[1] "data.frame"
df数据框行数为： 3
df数据框列数为： 5
列数（属性）数量： 5

列表 
列表使用list()函数来定义，列表中的每个元素可以是单个变量或者是向量，甚至是另一个列表 
列表中每个向量的长度可以不同，这是列表和数据框的重要区别 
数据框是一种形式特殊的列表

In [22]:
lst <- list(symbols=c('MSFT','KO','CSCO'),price=c(40.40,40.56,23.02),currency='USD',country='USA',type='STOCK') 
lst 
print(length(lst)) # 共5个元素

$symbols
[1] "MSFT" "KO"   "CSCO"

$price
[1] 40.40 40.56 23.02

$currency
[1] "USD"

$country
[1] "USA"

$type
[1] "STOCK"

[1] 5

可以和python中pandas的dataframe对比下

In [23]:
# 日期类变量 
dtVar <- Sys.Date() 
print(class(dtVar));
print(dtVar) 
dtVar <- Sys.time() 
print(class(dtVar));
print(dtVar) 
dtVar <- as.Date('2014-4-17',tz='UTC') 
print(class(dtVar));
print(dtVar) 
dtVar <- as.Date('2014/4/17',tz='CST')
print(class(dtVar));
print(dtVar)

[1] "Date"
[1] "2018-08-03"
[1] "POSIXct" "POSIXt"
[1] "2018-08-03 11:31:09 CST"
[1] "Date"
[1] "2014-04-17"
[1] "Date"
[1] "2014-04-17"

In [26]:
# 用数字直接生成日期对象 
# ISOdate()函数得到的是一个POSIXct对象 
t <- ISOdate(2014,4,17) 
print(class(t));
print(t) 
# 允许继续加入小时、分钟、秒数信息 
t <- ISOdatetime(2014,4,17,15,28,48) 
print(class(t));
print(t) 
# 将Date日期转换成儒略日期 
# 在R中这是自1970-1-1以来的天数 
d <- as.Date('2014-4-17') 
as.integer(d)

[1] "POSIXct" "POSIXt"
[1] "2014-04-17 12:00:00 GMT"
[1] "POSIXct" "POSIXt"
[1] "2014-04-17 15:28:48 CST"

[1] 16177

In [27]:
julian(d)

[1] 16177
attr(,"origin")
[1] "1970-01-01"

In [28]:
# 提取日期中的各个组成部分信息 
d <- Sys.time() 
p <- as.POSIXlt(d) 
print(class(p));
print(mode(p));
print(p)

[1] "POSIXlt" "POSIXt"
[1] "list"
[1] "2018-08-03 11:34:48 CST"

In [29]:
# p$year 自1900年以来的年份
print(p$year+1900)

[1] 2018

In [30]:
# p$mon 表示0-11月
print(p$mon+1)

[1] 8

In [31]:
# p$mday 该月的第几天
print(p$mday)

[1] 3

In [32]:
# p$yday 该年的第几天，0-365天，元旦当天是第0天
print(p$yday+1)

[1] 215

In [34]:
# p$wday 对应周几，0-6，周日为0，其他时间和我们日常习惯一致
# 2018-08-03 是周五
print(p$wday)

[1] 5

ERROR: Error in parse(text = x, srcfile = src): <text>:1:3: 意外的','
1: (1,
      ^